img.dms-logo {
	position: absolute !important;
	left:25px;
	top:25px;
}

.dimiNav {
    position: fixed;
	bottom: 0px;
	right:0px;
	width:100%;
	max-width: 50px;
	padding: 5px;
	font-size: 22px !important;
	background: white;
	z-index: 2 !important;
}
	.dimiNav a {
		display: flex;
        align-items: center;
        justify-content: center;
		width: 40px;
		height: 40px;
	}
	.dimiNav i {
		color: #FFF !important;
	}
	.dimiNav a:hover i {
		color: #000 !important;
	}

/* index.html only */
.indexNav {
    position: absolute;
	top: 0px;
	right:0px;
	width: 65px;
	height: 65px;
	padding: 5px;
	font-size: 40px !important;
	color: white;
	Background: transparent;
	z-index: 2 !important;
	
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
/* -------------------------------------------------
 *
 *  # SLIDE OUT SIDE PANEL
 *  
 * ------------------------------------------------ */
#slideout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -12px;
  width: 42em;
  height: 100%;
  padding: 20px;
  background: #FFF;
  transform: translateX(100%);
  transition: .3s ease-out;
  z-index: 5;
  box-shadow: -10px 5px 15px -2px rgba(71, 71, 71, 0.64);
}
#slideout.on {
  transform: translateX(0%);
}

.slideoutContent  i {
  font-size: 40px;
  color: #ef4444 !important;
  cursor: pointer;
}
.slideoutContent div {
	border-bottom: 1px solid #e9e9e9;
	padding: 1em 0;
}

.slideoutContent img {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 10px 10px 0;
	object-fit: contain;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.slideoutContent h5 {
	margin-bottom: 0;
}
.slideoutContent p a {
	margin-left: 0.75rem;
	color: #26a69a !important;
}
/* -------------------------------------------------
 *
 *  # POPUP OVERLAY
 *    https://www.w3schools.com/howto/howto_css_overlay.asp
 *  
 * ------------------------------------------------ */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4em;
  background: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #0000003d;
}
.addHighlight{ /* we highlight any element we want to point out once */
	border-radius: 50%;
	z-index: 9 !important;
}
.addHighlight:before{
  content: "";
  position: absolute;
  z-index: 8;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #049aad;
  border-radius: 50%;
  animation: pulse-border 3500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}