/*
* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
*/

/* The <label> labelcheck */
.labelcheck {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.labelcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom <span> checkbox */
.checkspan {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border:1px solid #000000de;
}

/* On mouse-over, add a teal background color */
.labelcheck:hover input ~ .checkspan {
  background-color: #e0f2f1;
}

/* When the checkbox is checked, add a blue background */
.labelcheck input:checked ~ .checkspan {
  background-color: #26a69a;
  border:none
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkspan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelcheck input:checked ~ .checkspan:after {
  display: block;
}

/* Style the checkmark/indicator */
.labelcheck .checkspan:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
