/* Zebra Datepicker */
.dates input {max-width:120px !important; text-align: center;}

/* -------------------------------------------------
 *
 *  # @MEDIA ONLY custom declarations
 *  
 * ------------------------------------------------ */

@media (min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl { /*bootstrap override for standalone only*/
        max-width:1240px
    }
}

@media (min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { /*bootstrap override for standalone only*/
        max-width:1620px
    }
}

/* -------------------------------------------------
 *
 *  OFF CANVAS
 *  
 * ------------------------------------------------ */
.offcanvas {
    z-index: 9993; /*1 unit more than lity's 9992*/
}
	
.offcanvas-trigger {
	width: 50px;
	height: 50px;
	background: white;
	position: absolute;
	top: 50%;
	left: -50px;
	transform: translateY(-50%);
	visibility: visible !important;
	border: 1px solid #ddd;
	border-right: 0;
	/*
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	*/
	cursor: pointer;
}

.offcanvas-trigger i {
	font-weight:300 !important;
    position: absolute;
    top: 50%;
	left: 50%;
    display: block;
    transform:translate(-50%,-50%);
}

.offcanvas table tr td{
  padding: 0 !important;
  margin: 0 !important;
}

/* -------------------------------------------------
 *
 *  Standalone List view
 *  CodeP responsive-material-card-layout
 *  
 * ------------------------------------------------ */

ul.SAul {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  padding: 30px;
}

.SAcard {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.SAcard .SAcard-body {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  flex: 100%;
}

.SAcard .featured-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.SAcard header {
  flex: 75%;
}

.SAcard header p{
  font-size: 13px;
}
		/* .line-clamp {truncate to 6 lines (needed for JS to show more/less)
		  overflow: hidden;
		  display: -webkit-box;
		  -webkit-box-orient: vertical;
		  -webkit-line-clamp: 6;
                  line-clamp: 6; 
		}
		*/
.SARate {
	display: flex;
    flex-direction: column;
    min-height: 100px;
	max-width:175px;
    padding: 10px;
    text-align: center;
    color: #808080;
}
   .SARate p.stdTotal {font-size: 25px; margin: 0; font-weight:700}
   .SARate .fontSmall {font-size: 12px;}

@media only screen and (min-width: 992px) {
  .SAcard {
    flex-direction: row;
    max-height: 219px;/*279*/
  }

  .SAcard .featured-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    min-width: 25%;
    max-width: 25%;/*390px*/
    max-height: 219px;/*279px*/
  }
}

@media only screen and (max-width: 768px) {
	.SARate {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-width: 100%;
		align-self: flex-start; /* prevents to expand vertically */
		margin-top: auto;       /* always at bottom, in case of short text */
	}
	.SARate button {
		flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */
	}
}


/* -------------------------------------------------
 *
 *  Shorties
 *  
 *  
 * ------------------------------------------------ */
#shorties {
	margin: 0 auto;
	max-width: 1160px;
}

ul.is_shorty .SARate .servicetype {
	display:none
}

	ul.is_shorty .SAresform {
	  position: relative;
	  box-shadow: none;
	  width: 100%;
	}
	ul.is_shorty .SAresform .stdaloneDetailOptions {
	  margin-top: 1rem;
	}
	ul.is_shorty a.closeShortyDetail {
	  position:absolute;
	  top: 0;
	  right: 10px;
	  cursor: pointer;
	}

.is-anim {
	animation: fadeInLeft 1s ease 0s 1 normal forwards;
}

	
@media only screen and (min-width: 992px) {
	ul.is_shorty { 
		margin: 0 !important;
		max-width: 360px;/*360*/
	}
	.is_shorty .SAcard{
		flex-direction: column;
		min-height: 400px;
		max-height: 600px;
	}
	.is_shorty .SAcard .featured-image {
		min-width: 100%;
		min-height: 180px;/*219*/
		max-height: 180px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 0;
		border-top-right-radius: 5px;
	}
	.is_shorty header {
	}
	.is_shorty header span.h3 {
		font-size: 1.1rem;
	}
		/* .line-clamp {
		   -webkit-line-clamp: 3; number of lines to show
				   line-clamp: 3; 
		} 
		*/
	.is_shorty .SARate {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-width: 100%;
		align-self: flex-start; /* prevents to expand vertically */
		margin-top: auto;       /* always at bottom, in case of short text */
	}
	.is_shorty .SARate button {
		flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */
	}
}

@media only screen and (max-width: 992px) {

	ul.is_shorty a.closeShortyDetail {
		top: -1.3rem;
		right: -1.3rem;
	}
	ul.is_shorty a.closeShortyDetail i::before {
	    font-size: 1.6em;
		border: 1px solid #26a69a;
		background-color: #FFFFFF;
	}
}

/* -------------------------------------------------
 *
 *  # Standalone detail
 *  
 * ------------------------------------------------ */
#stdaloneDetail {
	height:100%; display:none
	}

.serviceDetails{
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
	}

.lity-close, .lity-close:hover, .lity-close:focus, .lity-close:active, .lity-close:visited {
    top: 10px;
	right: 20px;
    width: 55px;
    height: 55px;
	font-size: 55px;
    color: #fd7777;
    border: 1px solid #fd7777;
	background-color: #FFFFFF;
}

#htmlDetail, #htmlDetailDeals {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
	}

/* -------------------------------------------------
 *
 *  stdaloneDetail reservation form 
 *  
 * ------------------------------------------------ */
.SAresform {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bookthis {
  padding: 20px;
  border: 1px solid rgba(64, 189, 233, 0.42);
  position: relative;
}

.bookthisp {
  margin-top: -32px;
  background-color: #FFF;
}

.cs-grid {
	display: grid;
	grid-template-columns: 50% auto;
	grid-column-gap: 28px;
}

.stdaloneDetailOptions {color: #808080;}
span.BookstdTotal {font-weight:500;}
.chosenSserviceTotal{color: #356A93;}

    /*
	if it's within a shorty
	see section 'shorties'
	*/
	